<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">

	<!-- TracNetReporting Module Properties -->
	<id>tracnetreporting</id>
	<name>TracNet Reporting</name>
	<version>0.1.0.27</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Kamonyo Mugabo</author>
	<description>
		TracNet Reporting Module. Useful for TracNet monthly reporting.
	</description>
	<activator>@MODULE_PACKAGE@.TracNetReportingActivator</activator>
	<!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<require_version>1.5.0</require_version>
	<!-- /TracNetReporting Module Properties -->


	<!-- Extensions -->
	<extension>
		<point>org.openmrs.tracmodule.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	<!-- /Extensions -->

	<!--
		AOP <advice> <point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class> </advice>
		/AOP
	-->

	
	<privilege> 
		<name>View TRACNet Reporting</name>
		<description>Allows users to view TRACNet Reporting Module</description>
	</privilege>
	
	<privilege>
		<name>Export TracNet Report</name>
		<description>Allows users to export TracNet Report</description>
	</privilege> 
	


	 
		<globalProperty>
		<property>@MODULE_ID@.listOfARVsDrugs</property>
		<defaultValue>633,814,796,628,749,794,795,635,631,5424,625,792,802,5811,797,630,2833,2203,1613</defaultValue> 
		<description>A list of ARVs Drugs. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.listOfFirstLineDrugs</property>
		<defaultValue>633,814,796,628,635,631,5424,625,792,802,5811,797,630,2833,2203,1613</defaultValue> 
		<description>A list of First Line Drugs. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.listOfSecondLineDrugs</property>
		<defaultValue>795,749,794</defaultValue> 
		<description>A list of Second Line Drugs. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.listOfProphylaxisDrugs</property>
		<defaultValue>916,747,92</defaultValue> 
		<description>A list of Prophylaxis Drugs. </description> 		
		</globalProperty>
		
		<globalProperty>
		<property>@MODULE_ID@.listOfTBDrugs</property>
		<defaultValue>656, 767, 745, 5829, 438, 1411, 1417, 1406, 740, 1418, 755, 955, 1414,1413, 1419, 1415, 1633, 450, 2459, 2460</defaultValue> 
		<description>A list of TB Drugs. </description> 		
		</globalProperty>
		
		<globalProperty>
		<property>@MODULE_ID@.listOfAnswersToResultOfHIVTest</property>
		<defaultValue>664, 703</defaultValue> 
		<description>A list of TB Drugs. </description> 		
		</globalProperty>
		
		<globalProperty>
		<property>@MODULE_ID@.exitFromCareConceptId</property>
		<defaultValue>1811</defaultValue> 
		<description>Exit From Care Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.exitFromCareDiedConceptId</property>
		<defaultValue>1742</defaultValue> 
		<description>Exit From Care Died Concept. </description> 		
		</globalProperty>
		
		<globalProperty>
		<property>@MODULE_ID@.exitFromCareTransferredOutConceptId</property>
		<defaultValue>1744</defaultValue> 
		<description>Exit From Care Transferred Out Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.transferredInConceptId</property>
		<defaultValue>2536</defaultValue> 
		<description>Transfer in Concept. </description> 		
		</globalProperty> 
		
		
		<globalProperty>
		<property>@MODULE_ID@.weightConceptId</property>
		<defaultValue>5089</defaultValue> 
		<description>Weight Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.heightConceptId</property>
		<defaultValue>5090</defaultValue> 
		<description>Height Concept. </description> 		
		</globalProperty>  
				
		<globalProperty>
		<property>@MODULE_ID@.yesAsAnswerToTransferredInConceptId</property>
		<defaultValue>1065</defaultValue> 
		<description>Yes As Answer To Transfer in Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.resultForHIVTestConceptId</property>
		<defaultValue>2169</defaultValue> 
		<description>Result For HIV Test Concept . </description> 		
		</globalProperty>
		
		<globalProperty>
		<property>@MODULE_ID@.indeterminateConceptId</property>
		<defaultValue>1138</defaultValue> 
		<description>Indeterminate as result Concept . </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.cd4CountConceptId</property>
		<defaultValue>5497</defaultValue> 
		<description>CD4 Count concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.tbScreeningConceptId</property>
		<defaultValue>3495</defaultValue> 
		<description>TB Screening Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.positiveConceptId</property>
		<defaultValue>703</defaultValue> 
		<description>TB Screening Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.negativeConceptId</property>
		<defaultValue>664</defaultValue> 
		<description>TB Screening Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.dateResultOfHIVTestReceived</property>
		<defaultValue>6549</defaultValue> 
		<description>Date Result Of HIV Test Received. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.whoStageConceptId</property>
		<defaultValue>1480</defaultValue> 
		<description>Who Stage Concept. </description> 		
		</globalProperty>
		
		<globalProperty>
		<property>@MODULE_ID@.currentWhoHIVStageConceptId</property>
		<defaultValue>5356</defaultValue> 
		<description>Current Who HIV Stage Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.whoStageAtTransferInConceptId</property>
		<defaultValue>2527</defaultValue> 
		<description>Who Stage at Transfer In Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.whoStageOneAdultConceptId</property>
		<defaultValue>1204</defaultValue> 
		<description>Who Stage One Adult Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.whoStageTwoAdultConceptId</property>
		<defaultValue>1205</defaultValue> 
		<description>Who Stage Two Adult Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.whoStageThreeAdultConceptId</property>
		<defaultValue>1206</defaultValue> 
		<description>Who Stage Three Adult Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.whoStageFourAdultConceptId</property>
		<defaultValue>1207</defaultValue> 
		<description>Who Stage Four Adult Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.whoStageOnePedsConceptId</property>
		<defaultValue>1220</defaultValue> 
		<description>Who Stage One Peds Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.whoStageTwoPedsConceptId</property>
		<defaultValue>1221</defaultValue> 
		<description>Who Stage Two Peds Concept . </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.whoStageThreePedsConceptId</property>
		<defaultValue>1222</defaultValue> 
		<description>Who Stage Three Peds Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.whoStageFourPedsConceptId</property>
		<defaultValue>1223</defaultValue> 
		<description>Who Stage Four Peds Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.unknownWhoStageConceptId</property>
		<defaultValue>1067</defaultValue> 
		<description>Who Stage Four Peds Concept. </description> 		
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.hivProgramId</property>
		<defaultValue>2</defaultValue> 
		<description>HIV Program. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.pmtctProgramId</property>
		<defaultValue>1</defaultValue> 
		<description>PMTCT Program. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.pcrEncounterId</property>
		<defaultValue>11</defaultValue> 
		<description>PCR Encounter Id. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.serologyTestAt9MonthId</property>
		<defaultValue>12</defaultValue> 
		<description>Serology Test at 9 Month. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.serologyTestAt18MonthId</property>
		<defaultValue>13</defaultValue> 
		<description>Serology Test at 18 Month. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.cpnEncounterId</property>
		<defaultValue>8</defaultValue> 
		<description>CPN Encounter. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.maternityEncounterId</property>
		<defaultValue>10</defaultValue> 
		<description>Maternity Encounter. </description> 	
		</globalProperty> 
		
		
		<globalProperty>
		<property>@MODULE_ID@.estimatedDateOfConfinement</property>
		<defaultValue>5596</defaultValue> 
		<description>Estimated Date Of Confinement. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.dateOfConfinement</property>
		<defaultValue>5599</defaultValue> 
		<description>Date Of Confinement. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.HIVTestInDeliveryRoom</property>
		<defaultValue>6546</defaultValue> 
		<description>HIV Test In Delivery Room. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.motherFollowUpEncounterId</property>
		<defaultValue>7</defaultValue> 
		<description>Mother Follow up Encounter. </description> 	
		</globalProperty> 
		
		
		<globalProperty>
		<property>@MODULE_ID@.rapidPlasminReagentConceptId</property>
		<defaultValue>1478</defaultValue> 
		<description>Rapid Plasmin Reagent. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.listOfAnswersToRapidPlasminReagent</property>
		<defaultValue>1228,1229</defaultValue> 
		<description>List Of Answers To Rapid Plasmin Reagent. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.reactiveAsfAnswerToRapidPlasminReagentConceptId</property>
		<defaultValue>1228</defaultValue> 
		<description>Reactive as Answer To Rapid Plasmin Reagent. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.returnVisitDateConceptId</property>
		<defaultValue>5096</defaultValue> 
		<description>Return Visit Date Concept. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.infantFeedingMethodConceptId</property>
		<defaultValue>1151</defaultValue> 
		<description>Infant Feeding Method Concept. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.breastedPredominatelyConceptId</property>
		<defaultValue>1150</defaultValue> 
		<description>Breasted Exclusively Concept. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.breastedExclusivelyConceptId</property>
		<defaultValue>5526</defaultValue> 
		<description>Breasted Exclusively Concept. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.mixedFeedingConceptId</property>
		<defaultValue>6046</defaultValue> 
		<description>Mixed Feeding Concept. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.usingFormulaConceptId</property>
		<defaultValue>5254</defaultValue> 
		<description>Using Formula Concept. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.testingStatusOfPartnerConceptId</property>
		<defaultValue>3082</defaultValue> 
		<description>Testing Status Of Partner Concept. </description> 	
		</globalProperty> 
		
		
		<globalProperty>
		<property>@MODULE_ID@.OpportunisticInfectionsConceptId</property>
		<defaultValue>1607</defaultValue> 
		<description>Opportunistic Infections Concept. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.OpportunisticInfectionSTIConceptId</property>
		<defaultValue>174</defaultValue> 
		<description>Opportunistic Infection STI Concept. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.EndDateOfOpportunisticInfectionSTIConceptId</property>
		<defaultValue>6975</defaultValue> 
		<description>End Date Of Opportunistic Infection STI Concept. </description> 	
		</globalProperty> 
		
		<globalProperty>
		<property>@MODULE_ID@.OpportunisticInfectionTBConceptId</property>
		<defaultValue>58</defaultValue> 
		<description>Opportunistic Infection TB Concept. </description> 	
		</globalProperty> 
		
		
		  <!--Family planning Data elements -->
   
   <globalProperty>
  <property>@MODULE_ID@.methodOfFamilyPlanningId</property>
  <defaultValue>374</defaultValue> 
  <description>method of birth control</description>   
  </globalProperty> 
  
     <globalProperty>
  <property>@MODULE_ID@.estimatedDateOfCOnfinementId</property>
  <defaultValue>5596</defaultValue> 
  <description>the period in which the patient estimate to give birth.</description>   
  </globalProperty> 
  
   <globalProperty>
  <property>@MODULE_ID@.marriedOrLivingWithPartnerId</property>
  <defaultValue>1055</defaultValue> 
  <description>married or living with partner</description>   
  </globalProperty> 
  
  <globalProperty>
  <property>@MODULE_ID@.civilStatusId</property>
  <defaultValue>1054</defaultValue> 
  <description>civil status</description>   
  </globalProperty> 
  
  <globalProperty>
  <property>@MODULE_ID@.livingWithPartnerId</property>
  <defaultValue>1060</defaultValue> 
  <description>living with partner</description>   
  </globalProperty> 
  
  <globalProperty>
  <property>@MODULE_ID@.injectableContraceptivesId</property>
  <defaultValue>5279</defaultValue> 
  <description>patients using injectable contraceptives in family planning</description>   
  </globalProperty> 
  
  <globalProperty>
  <property>@MODULE_ID@.oralContraceptionId</property>
  <defaultValue>780</defaultValue> 
  <description>patients using oral contraception in family planning</description>   
  </globalProperty> 
  
   <globalProperty>
  <property>@MODULE_ID@.condomsId</property>
  <defaultValue>190</defaultValue> 
  <description>patients using condoms ad a method of family planning</description>   
  </globalProperty> 
  
    <globalProperty>
  <property>@MODULE_ID@.testingStatusOfPartnerId</property>
  <defaultValue>3082</defaultValue> 
  <description>patients having the status of partner test in his encounter</description>   
  </globalProperty> 
 
  
  <globalProperty>
  <property>@MODULE_ID@.listOfAnswerStatusOfPArtnerId</property>
  <defaultValue>1067,3083,2416,2224,1175,703,664</defaultValue> 
  <description>no test for patient</description>   
  </globalProperty> 
  
  <globalProperty>
  <property>@MODULE_ID@.dispositionId</property>
  <defaultValue>3798</defaultValue> 
  <description>disposition</description>   
  </globalProperty> 
  
   <globalProperty>
  <property>@MODULE_ID@.referredForFamilyPlanningId</property>
  <defaultValue>6734</defaultValue> 
  <description>patient with disposition referred for family planning</description>   
  </globalProperty>
  
  <!-- VCT and PIT Concepts -->
   <globalProperty>
  <property>@MODULE_ID@.fifteenYearsId</property>
  <defaultValue>5475</defaultValue> 
  <description>fifteen years old</description>   
  </globalProperty>
  
   <globalProperty>
  <property>@MODULE_ID@.twentyFourYearsId</property>
  <defaultValue>8760</defaultValue> 
  <description>twenty four years old</description>   
  </globalProperty>   
	
   <globalProperty>
  <property>@MODULE_ID@.twentyFiveYearsId</property>
  <defaultValue>9125</defaultValue> 
  <description>twenty five years old</description>   
  </globalProperty>   	

 <!-- PEP Data Elements -->
 
   <globalProperty>
  <property>@MODULE_ID@.pepProgramId</property>
  <defaultValue>3</defaultValue> 
  <description>hiv exposure program </description>  
  </globalProperty> 
  
  <globalProperty>
  <property>@MODULE_ID@.reasonpatientStartedArvsForProphylaxisId</property>
  <defaultValue>1496</defaultValue> 
  <description>patients on prophylaxis</description>   
  </globalProperty> 
  
  <globalProperty>
  <property>@MODULE_ID@.exposureToBloodOrBloodProductId</property>
  <defaultValue>1494</defaultValue> 
  <description>occupational exposure</description>   
  </globalProperty>
  
   <globalProperty>
  <property>@MODULE_ID@.sexualAssaultId</property>
  <defaultValue>165</defaultValue> 
  <description>sexual assault </description>   
  </globalProperty>
  
  <globalProperty>
  <property>@MODULE_ID@.sexualContactWithHivPositivePatient</property>
  <defaultValue>1495</defaultValue> 
  <description>non occupational exposure</description>   
  </globalProperty>
  
 
 
 
	

	<!--
		<dwr> <allow> <create creator="new" javascript="DWRFormEntryService">
		<param name="class"
		value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
		<include method="enterForm"/> </create> </allow> <signatures>
		<![CDATA[ import @MODULE_PACKAGE@.web.DWRFormEntryService;
		DWRFormEntryService.enterForm(Integer patientId, Integer formId,
		boolean useEncounter, List<String> fields); ]]> </signatures> </dwr>
	-->

	<!-- Servlets -->
	<!--
		Accessed through the url
		/pageContext()/moduleServlet/<moduleId>/<servlet-name> <servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
		</servlet>
	-->
	<!-- /Servlets -->


	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

